#img {
    width: 80%;
    margin-left: 40px;
    margin-top: 40px;
}

.link {
    margin-left: 185px;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.heading {
    font-size: 20px;
    margin-left: 185px;
    margin-top: 5px;
    color: rgba(10, 10, 192, 0.817);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.about {
    margin-left: 185px;
    margin-top: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#footer {
    width: 90%;
    margin-left: 40px;
}